@keyframes item {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.item {
    animation: item .5s;
    padding: 1rem;
    border: 1px solid gray;
    transition: all .3s;
}

.item:hover {
    transform: scale(1.05);
}
figure {

}
img {
    width: 100%;
    height: 100%;
}
.item_name {
    font-weight: 700;
    padding: .5rem 0;
}
.item_sub_details {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.like_btn {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    transition: all .4s;
}
.onlike {
    border: 1px solid red;
    border-radius: 10rem;
    transform: rotate(360deg);
    padding: .15rem .3rem;
}
.like_btn:active{
    transform: rotate(360deg)
  }
.cta .buy_btn {
    background-color: #282c34;
    padding: .5rem 1rem;
    color: #fff;
}