@keyframes prodcs {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.prodcs {
    animation: prodcs .5s;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    justify-content: space-between;
    grid-gap: 1rem;
}

@media only screen and (max-width: 970px) {
    .prodcs {
        grid-template-columns: repeat(3, minmax(5rem, 1fr));
    }
    
}
@media only screen and (max-width: 750px) {
    .prodcs {
        grid-template-columns: repeat(3, minmax(min-content, 1fr));
        grid-gap: .5rem;
        padding: .5rem;
    }
    
}
@media only screen and (max-width: 540px) {
    .prodcs {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
        padding: .5rem;
    }
    
}