@keyframes sell {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.sell-page {
    animation: sell .5s;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.sell-page input {
    padding: 1rem;
    font-size: 1.2rem;
    outline: none;
    margin: 1rem 0;
}
.sell-page input::placeholder {
    opacity: .3;
    font-style: italic;
}
.sell-page label {
    font-size: 1.3rem;
    padding: 1rem 0;
    color: gray;
    font-style: italic;
}
.sell-page select {
    height: 2rem;
    outline: none;
    margin-left: 1rem;
}
.sell-page textarea {
    height: 15rem;
    font-size: 1.2rem;
    outline: none;
    padding: 1rem;
}
.sell-page textarea::placeholder {
    opacity: .3;
    font-style: italic;
}
.sell-page button {
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #fff;
    background-color: #282c34;
}

@media only screen and (max-width: 600px) {
    .sell-page  {
        width: 90vw;
    }
}