@keyframes sell {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.sell-page {
    animation: sell .5s;
    height: 30rem;
    background-color: red;
}