@keyframes details {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.product-details{
    animation: details .5s;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    justify-content: "space-between";
    grid-gap: 1rem;
}
.product-details button {
    padding: .5rem 1.5rem;
    border: 1px solid #282c34;
    font-size: 1.2rem;
    transition: all .3rem;
}
.product-details button:hover {
    color: white;
    background-color: #282c34;
}
.back {
    margin-right: 1rem;
    background-color: #282c34;
    color: white;
}

@media only screen and (max-width: 600px) {
    .product-details {
        padding: 1rem;
        display: block;
    }
    
}