
.search-box {
    padding: .5rem;
    width: 17rem;
    height: 1rem;
    font-size: 1.1rem;
    outline: none;
    margin-bottom: .2rem;
}
.search button {
    font-size: 1.1rem;
    padding: .4rem;
}