@keyframes likes {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.likes-page {
    animation: likes .5s;
}

.error {
    grid-column: 2/3;

}
@media only screen and (max-width: 600px) {
    .error {
        grid-column: 1/-1;
    }
}